<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

<body class="theme-base-08">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap2">
      <div class="masthead3 fixedElement">
        <div class="container2">
          <h3 class="masthead-title3">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar2-checkbox" class="sidebar2-toggle fixedElement2"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar2-toggle');
        var sidebar2 = document.querySelector('#sidebar2');
        var checkbox = document.querySelector('#sidebar2-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar2.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
